

<footer class="footer-container typefooter-4">

  <div class="row-top" style="height: 130px;">
      <div class="block-services container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin1">
                  <div class="icon-service">
                      <div class="icon"><i class="pe-7s-car">&nbsp;</i></div>
                      <div class="text">
                          <h6 >MIỄN PHÍ VẬN CHUYỂN</h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin1">
                  <div class="icon-service">
                      <div class="icon"><i class="pe-7s-refresh-2">&nbsp;</i></div>
                      <div class="text">
                          <h6>TRẢ HÀNG TRONG 30 NGÀY</h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin">
                  <div class="icon-service">
                      <div class="icon"><i class="pe-7s-door-lock">&nbsp;</i></div>
                      <div class="text">
                          <h6>GIẢM GIÁ CỰC SỐC<br></h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="icon-service">
                      <div class="icon"><i class="pe-7s-users">&nbsp;</i></div>
                      <div class="text">
                          <h6>HỖ TRỢ 24/7</h6>
                          
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="container">
      <div class="row footer-middle">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-style">
              <div class="box-footer box-infos">
                  <div class="module">
                      <h3 class="modtitle">Liên Hệ Chúng Tôi</h3>
                      <div class="modcontent">
                          <ul class="list-icon">
                              <li><span class="icon pe-7s-map-marker"></span>Điện Biên Phủ, Bình Thạnh, Hồ Chí Minh</li>
                              <li><span class="icon pe-7s-call"></span> <a href="telto:0586020981">0586-020-981</a></li>
                              <li><span class="icon pe-7s-mail"></span><a href="mailto:vohoangdat.ang@gmail.com">vohoangdat.ang@gmail.com</a></li>
                              <li><span class="icon pe-7s-alarm"></span>08:00-20:00 Tất cả ngày trong tuần</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-style">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                      <div class="box-information box-footer">
                          <div class="module clearfix">
                              <h3 class="modtitle">THÔNG TIN VỀ CÔNG TY</h3>
                              <div class="modcontent">
                                  <ul class="menu">
                                    <li><a href="https://masothue.com/0301340497-cong-ty-tnhh-san-xuat-hang-tieu-dung-binh-tien">GIỚI THIỆU VỀ CÔNG TY</a></li>
                                    <li><a href="https://www.topcv.vn/viec-lam">CƠ HỘI NGHỀ NGHIỆP</a></li>
                                    <li><a href="https://zingnews.vn/">TIN TỨC</a></li>
                                    <li><a href="https://www.blogger.com/about/?hl=vi">BLOG</a></li>
                                      
                                  </ul>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                      <div class="box-account box-footer">
                          <div class="module clearfix">
                              <h3 class="modtitle">TÀI KHOẢN</h3>
                              <div class="modcontent">
                                  <ul class="menu">
                                      <li><a th:href="@{/my-account}">My account</a></li>
                                      <li><a th:href="@{/order-history}">Order History</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                    <div class="box-account box-footer">
                        <div class="module clearfix">
                            <h3 class="modtitle">HỖ TRỢ</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="https://www.adidas.com.vn/vi/help?hcid=RETURNS_AND_REFUNDS">TRẢ HÀNG & HOÀN TIỀN</a></li>
                                    <li><a href="https://www.bitis.com.vn/pages/san-uu-dai-hunter"> CHƯƠNG TRÌNH KHUYẾN MÃI</a></li>
                                    <li><a href="https://lptech.asia/kien-thuc/pr-la-gi-top-7-loai-hinh-pr-co-ban-ban-can-biet"> QUẢNG CÁO SẢN PHẨM</a></li>
                                    <img src="images/KM/BOCONGTHUONG1.png" alt="imgthue">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
          </div>
      </div>

      <div class="row row-dark">
          <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-socials">
              <ul class="socials">
                  <li class="facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a href="https://twitter.com/home?lang=vi" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li class="instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li class="Youtube"><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                  
              </ul>
          </div>

      </div>
  </div>

  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <p>HOANG DAT © 2023. All Rights Reserved .</p>
              </div>
              <div class="payment-w col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <img src="images/KM/payment.png" alt="imgpayment">
              </div>
          </div>
      </div>
  </div>


  <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/application.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script defer src="js/jquery.fancybox.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<script  src="js/cloud-zoom.1.0.2.js"></script>
<script  type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript"  src="js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script type="text/javascript"  src="js/jquery.mousewheel.min.js"></script>
<script type="text/javascript"  src="js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript"  src="js/jquery.ba-throttle-debounce.min.js"></script>
<script defer src="js/custom.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        menu();

        $('.updateCart').click(function(){
            var id = $(this).attr('id');
            var soluong = parseInt($('#'+id).val());
            if(soluong > 0){
                $.post(
                    './updateCart',
                    {
                      id      : id,
                      soluong : soluong
                    }, function(data){                     
                      
                      if(data.st ==1) location.href = "gio-hang.html";
                    }
                ), 'json';
            }
        });

         $('.delCart').click(function(){
            var id = $(this).attr('id');
           
                $.post(
                    './delCart',
                    {
                      id      : id
                    }, function(data){                     
                      
                      if(data.st ==1) location.href = "gio-hang.html";
                    }
                ), 'json';
            
        });


    });

    function menu(){
      $.post(
          './menu',
          {

          },function(data){
            var classMenu = '';
            var hash = location.pathname;

            if(hash == '/') var menu = '<li><a class="active" href="/" >Home</a></li>';
            else var menu = '<li><a  href="/">Home</a></li>';
       
            data.forEach(function(item){
              var urlMenu     = '/danh-muc/' + item.urlRewriteName +'.' + item.id + '.html';
               var pathName   = location.pathname;
               pathName       = pathName.split('.')[2];
               
               menu += '<li><a  href="'+ urlMenu +'" ';
               if(urlMenu == hash || item._id == pathName) menu += 'class="active"';
               menu += '>'+item.name+'</a></li>';
            });
            $('#categorymenu ul.categorymenu').html(menu);


          }
        );
    }


</script>
</body>
</html>


 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet"  />
<link href="css/jquery.fancybox.css" rel="stylesheet">
<link href="css/cloud-zoom.css" rel="stylesheet">

<link href="css1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css1/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="js1/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="js1/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="css1/themecss/lib.css" rel="stylesheet">
  <link href="js1/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="js1/minicolors/miniColors.css" rel="stylesheet">

  <link href="js1/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">

  <link href="css1/themecss/so_searchpro.css" rel="stylesheet">
  <link href="css1/themecss/so_megamenu.css" rel="stylesheet">
  <link href="css1/themecss/so-categories.css" rel="stylesheet">
  <link href="css1/themecss/so-listing-tabs.css" rel="stylesheet">
  <link href="css1/themecss/so-categories.css" rel="stylesheet">
  <link href="css1/themecss/so-newletter-popup.css" rel="stylesheet">

  <link href="css1/footer/footer4.css" rel="stylesheet">
  <link href="css1/header/header4.css" rel="stylesheet">
  <link id="color_scheme" href="css1/home4.css" rel="stylesheet">
  <link href="css1/responsive.css" rel="stylesheet">


  <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'
        type='text/css'>
  <style type="text/css">
       body{font-family:'Roboto', sans-serif}
  
  </style>
  
  </style>
  <link href="css1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css1/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="js1/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="js1/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="css1/themecss/lib.css" rel="stylesheet">
  <link href="js1/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="js1/minicolors/miniColors.css" rel="stylesheet">

  <link href="js1/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">

  <link href="css1/themecss/so_searchpro.css" rel="stylesheet">
  <link href="css1/themecss/so_megamenu.css" rel="stylesheet">
  <link href="css1/themecss/so-categories.css" rel="stylesheet">
  <link href="css1/themecss/so-listing-tabs.css" rel="stylesheet">
  <link href="css1/themecss/so-categories.css" rel="stylesheet">
  <link href="css1/themecss/so-newletter-popup.css" rel="stylesheet">

  <link href="css1/footer/footer4.css" rel="stylesheet">
  <link href="css1/header/header4.css" rel="stylesheet">
  <link id="color_scheme" href="css1/home4.css" rel="stylesheet">
  <link href="css1/responsive.css" rel="stylesheet">


  <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'
        type='text/css'>
  <style type="text/css">
       body{font-family:'Roboto', sans-serif}
  
  </style>


<link rel="shortcut icon" href="assets/ico/favicon.html">

</body>
</html>
