<% include layout/header.ejs %>

  <div class="container">
    <div id="content" class="content-help"  style="background-color : white; margin: 5px;">
    <h1 class="title-help">DAT STORE</h1>
      <div class="one-content-help">
            <b class="title-one-content-help" style="font-size:20px">
              Qua hơn 2 năm hoạt động sản xuất kinh doanh với bao thăng trầm và thách thức, giờ đây, DAT STORE đã lớn mạnh và phát triển, trở thành một cửa hàng uy tín, tin cậy trong mua sắm hàng chính hãng.
            </b>
            <br>
            <br>
                      <div class= "word" style="font-size:16px ; ">
                      <b style= "font-size:16px">THÀNH LẬP</b>: Dat Store là thương hiệu đã trở nên gần gũi và quen thuộc với người tiêu dùng yêu thích thời trang của Việt Nam trong hơn 2 năm qua.
                      <br>
                      <br>
                          <b>MẶT HÀNG KINH DOANH</b>: Hiện DAT STORE đang là ngôi nhà chung của những thương hiệu đình đám thế giới: ADIDAS, NIKE, PUMA, FILA được bán tại hệ thống cửa hàng và website bán hàng thương mại điện tử.
                      <br>
            <br>
                          <b></b>DAT STORE là "sân chơi" dành cho những con người cháy bỏng đam mê thời trang với văn hóa làm việc "mở", khuyến khích sự đổi mới, chấp nhận thách thức. Nếu bạn yêu thích những thử thách mới, hãy cùng gia nhập đội ngũ để được "cháy hết mình" và cùng nhau tạo nên điều khác biệt.
            <br>
            </div>
      </div>
   </div>
  </div>
<% include layout/footer.ejs %>



<style type="text/css">
  #categorymenu {
    display: none !important;
  }
</style>